<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Owner Name</th>
      <th>Email</th>
      <th>Model</th>
      <th class="text-right">Purchase Price</th>
    </tr>
    <tr *ngFor="let purchase of purchases">
      <td>
        {{purchase.name}}
      </td>
      <td>
        {{purchase.email}}
      </td>
      <td>
        {{purchase.model}}
      </td>
      <td class="text-right">
        {{purchase.purchasePrice}}
      </td>
    </tr>
  </table>
</div>