<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/admin">Back to List</a>
  </div>
  <div>
    <div class="form-group">
      <label>Buyer Name</label>
      <div class="form-control">{{purchase.name}}</div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <div class="form-control">{{purchase.email}}</div>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <div class="form-control">{{purchase.phone}}</div>
    </div>
    <div class="form-group">
      <label>Model</label>
      <div class="form-control">{{purchase.model}}</div>
    </div>
    <div class="form-group">
      <label>Serial Number</label>
      <div class="form-control">{{purchase.serialNumber}}</div>
    </div>
    <div class="form-group">
      <label>Purchase Price</label>
      <div class="form-control">{{purchase.purchasePrice}}</div>
    </div>
    <div class="form-group">
      <label>Purchase Date</label>
      <div class="form-control">{{purchase.purchaseDate}}</div>
    </div>
  </div>
</div>